.EmotifyDropdown span,
.Emoticon span { display: none; }
.EmotifyDropdown,
.Emoticon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 67px;
    width: 80px;
    vertical-align: bottom;
}
.Emoticon1 { background-image: url('images/sukses.png'); height: 77px;}
.Emoticon2 { background-image: url('images/mikirpakeotak.png'); height: 77px; }
.Emoticon3 { background-image: url('images/gatau.png');height: 77px; }
.Emoticon4 { background-image: url('images/Hmph.png');height: 77px; }
.Emoticon5 { background-image: url('images/sinis.png'); height: 77px;}
.Emoticon6 { background-image: url('images/ngakak.png');  } 
.Emoticon7 { background-image: url('images/kiss.png'); height: 77px; }
.Emoticon8 { background-image: url('images/timetoeat.png');height: 77px; }
.Emoticon9 { background-image: url('images/bagak.png');height: 77px; }
.Emoticon10 { background-image: url('images/gelambir.png');height: 77px; }
.Emoticon11 { background-image: url('images/bringit.png'); }
.Emoticon12 { background-image: url('images/cemberut.png'); }
.Emoticon13 { background-image: url('images/heran.png'); }
.Emoticon14 { background-image: url('images/akutakpercaya.png');  }
.Emoticon15 { background-image: url('images/naikpitam.png'); }
.Emoticon16 { background-image: url('images/naikpitam2.png'); }
.Emoticon17 { background-image: url('images/hopeless.png'); }
.Emoticon18 { background-image: url('images/cry.png');  }
.Emoticon19 { background-image: url('images/mewek.png'); }
.Emoticon20 { background-image: url('images/wink.png'); height: 77px; }
.Emoticon21 { background-image: url('images/stop.png'); width:129px; }
.Emoticon22 { background-image: url('images/sad.png'); }
.Emoticon23 { background-image: url('images/esmosi.png'); }
.Emoticon24 { background-image: url('images/esmosi2.png');  }
.Emoticon25 { background-image: url('images/cool.png');  }
.Emoticon26 { background-image: url('images/Error.png');  }
.Emoticon27 { background-image: url('images/tabah.png'); }
.Emoticon28 { background-image: url('images/belajar.png');}
.Emoticon29 { background-image: url('images/siangalone.png'); }
.Emoticon30 { background-image: url('images/sorealone.png');  }
.Emoticon31 { background-image: url('images/meratapi2.png'); }
.Emoticon32 { background-image: url('images/rekeningkosong.png'); }
.Emoticon33 { background-image: url('images/kalah.png'); }
.Emoticon34 { background-image: url('images/kaget.png');  }
.Emoticon35 { background-image: url('images/nampungaer.png');  }
.Emoticon36 { background-image: url('images/mantapgilak.png'); }
.Emoticon37 { background-image: url('images/meratapi3.png'); }
.Emoticon38 { background-image: url('images/meratapi.png'); }
.Emoticon39 { background-image: url('images/digunjing.png'); }
.Emoticon40 { background-image: url('images/nasehat.png');  }
.Emoticon41 { background-image: url('images/terimakasih.png'); }
.Emoticon42 { background-image: url('images/php.png');  }
.Emoticon43 { background-image: url('images/calling.png'); }
.Emoticon44 { background-image: url('images/bertekat.png'); height: 77px; }
.Emoticon45 { background-image: url('images/selamat.png');  }
.Emoticon46 { background-image: url('images/monggo.png');  }
.Emoticon47 { background-image: url('images/sukses2.png'); }
.Emoticon48 { background-image: url('images/sukses3.png'); }
.Emoticon49 { background-image: url('images/berhasil.png'); }
.Emoticon50 { background-image: url('images/selfie.png'); }
.Emoticon51 { background-image: url('images/mantap.png'); height: 77px; }
.Emoticon52 { background-image: url('images/Aduh.png'); height: 77px;  }
.Emoticon53 { background-image: url('images/brownsukses.png'); }
.Emoticon54 { background-image: url('images/gugup.png'); }
.Emoticon55 { background-image: url('images/alone.png');  }
.Emoticon56 { background-image: url('images/blank.png'); }
.Emoticon57 { background-image: url('images/berteduh.png'); }
.Emoticon58 { background-image: url('images/think.png');  height: 76px;}
.Emoticon59 { background-image: url('images/clumsy.png'); height: 76px;}
.Emoticon60 { background-image: url('images/lunch.png');  }
.Emoticon61 { background-image: url('images/santai.png'); }
.Emoticon62 { background-image: url('images/punch.png'); }
.Emoticon63 { background-image: url('images/shot.png'); }
.Emoticon64 { background-image: url('images/piknik.png'); }
.Emoticon65 { background-image: url('images/tangkap.png');  }
.Emoticon66 { background-image: url('images/pulang.png'); }
.Emoticon67 { background-image: url('images/goodbye.png');  }
.Emoticon68 { background-image: url('images/buru.png'); }
.Emoticon69 { background-image: url('images/semangat2.png');  }
.Emoticon70 { background-image: url('images/Gowes.png'); }
.Emoticon71 { background-image: url('images/beautiful.png'); height: 38px;
    width: 134px;}
.Emoticon72 { background-image: url('images/brushgigi.png'); }
.Emoticon73 { background-image: url('images/cony.png'); }
.Emoticon74 { background-image: url('images/matabelo.png'); }
.Emoticon75 { background-image: url('images/ganbatte.png'); }
.Emoticon76 { background-image: url('images/ngakak2.png');  }
.Emoticon77 { background-image: url('images/gugup2.png'); }
.Emoticon78 { background-image: url('images/terharu.png'); }
.Emoticon79 { background-image: url('images/conycry.png'); }
.Emoticon100 { background-image: url('images/thankyou.png'); height: 46px;}
.Emoticon101 { background-image: url('images/romantic.png');  }
.Emoticon102 { background-image: url('images/teler.png');  }
.Emoticon103 { background-image: url('images/acuh.png');  }
.Emoticon104 { background-image: url('images/kesal.png');  }
.Emoticon105 { background-image: url('images/omae.png');  }
.Emoticon106 { background-image: url('images/semangat3.png');  }
.Emoticon107 { background-image: url('images/belajarketat.png');  }
.Emoticon108 { background-image: url('images/dietketat.png');  }
.Emoticon109 { background-image: url('images/outofenergy.png'); }
.Emoticon110 { background-image: url('images/Stalker.png'); }
.Emoticon111 { background-image: url('images/ngadem.png');  }
.Emoticon112 { background-image: url('images/conyalone.png');  }
.Emoticon113 { background-image: url('images/konfirmasi.png');  }
.Emoticon114 { background-image: url('images/conytkp.png');  }
.Emoticon115 { background-image: url('images/okay.png');  }
.Emoticonpirate { background-image: url('images/fireworks.png');   }
.Emoticontransformer { background-image: url('images/transformer.gif'); }

.EmotifyWrapper {
    text-align: right;
    position: relative;
}
.EmotifyDropdown {
    display: block;
    height: 23px;
    width: 29px;
    background: url('images/arrow.png') 0 0 no-repeat;
    position: absolute;
    text-align: left;
    top: 0;
    right: 0;
    cursor: pointer;
}

.EmbedCommentForm .EmotifyDropdown {
   top: -29px;
}

.EmotifyDropdownActive {
    background-color: #eee;
}
.EmoticonContainer {
    position: absolute;
    top: 23px;
    right: 0;
    border: 1px solid #aaa;
    border-bottom: 0;
    border-right: 0;
    width: 961px;
    text-align: left;
    float: right;
    box-shadow: 2px 2px 4px #777;
    -moz-box-shadow: 2px 2px 4px #777;
    -webkit-box-shadow: 2px 2px 4px #777;
    z-index: 1000;
	 background: #eee;
	 max-width: 100%;
}
.EmoticonBox {
    background-color: #fff;
    background-position: center center;
    border: 1px solid #aaa;
    border-top: 0;
    border-left: 0;
    display: block;
    float: left;
    height: 67px;
    width: 80px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

