/*Add your css for the player here is necessary*/



span embed {
background: none transparent!important;
-webkit-border-image: url(images/metalborder.png) 55 55 55 55!important;
-o-border-image: url(images/metalborder.png) 55 55 55 55!important;
border-image: url(images/metalborder.png) 55 55 55 55!important;
-moz-border-image: url(images/metalborder.png) 55 55 55 55!important;
width: 55px!important;
height: 55px!important;
border-radius: 10px!important;
border: 15px solid transparent;
}
span embed:hover,span embed:focus {
box-shadow: 0px 0px 0px 2px red;
background:red;
border-radius: 6px;
}
