.picGals .clr {
clear:both;
}
 .picGals .pics {
display:inline;
width: 100%;
text-align: center;
margin: 0 auto;
}
.picGals .pics img {
display: inline;
width: 250px;
height: 250px;
text-align: center;
margin: 15px 15px 15px 15px;
border-radius: 10px 10px 10px 10px!important;
box-shadow: 0px 2px 2px 12px #222;
border:2px dotted #ffd700; 
}

body.Dashboard.Plugin.gallery #Body {
background:none transparent;

}
body.Dashboard.Plugin.gallery #Content h1 {
display: block;
margin: 0 auto;
float: none;
text-align: center;
padding:4px;
}
body.Dashboard.Plugin.gallery #Content h2 {
font-size: 130%;
font-weight: bold;
margin-bottom: 10px;
text-align: center;
padding:4px;
}
body.Dashboard.Plugin.gallery #Content{
width:90%;
margin: 0 auto;
float: none;
}
body.Dashboard.Plugin.gallery #Panel {
display: none!important;
}
body.Dashboard.Plugin.gallery #Foot {
background: none transparent!important;
border:none!important;
padding: 0px;
}

table#Log.AltColumns, div#Content, table#Users.AltColumns, table tbody th, table tbody td, table.Label.AltRows {
border: 1px solid #666;
width: 100%;
float: left;
margin-left: -0px;
position: relative;
text-align:center;
}

a.gal,a.gal:link{
font-size:18px!important;
font-weight:bold;
}
a.gal:link:hover, a.gal:hover{
font-size:18px!important;
font-weight:bold;
}

body.Dashboard.Plugin.gallery div.picbox img{
width:150px;
height:150px;
}
input.Button{
text-shadow:0 1px 0 #000;
}
div#PicGallery {
    display: inline-block;
    margin: 0;
    text-align: left;
    padding: 10px;
    line-height: 3;
}

div#PicGallery form {
    margin: 0;
    width: 150px;
    display: inline-block;
}
a.Home.Button {
    font-size: 20px;
    padding: 2px 8px;
    line-height: 1.24!important;
}
body.Dashboard.Plugin.gallery .Info {
font-size: 13px;
background:transparent;
border: 2px solid #222;
border: 2px solid rgba(0,0,0,0.1);
color: #000;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 6px 8px;
margin: 10px 0;
}
hr{
border-color:#666;
}
.fancybox-skin{
background: #FFD700;
}
.fancybox-item.fancybox-close.Close.Button{
position: absolute;
    top: -15px;
    left: -10px;
    border-radius: 50px;
    padding: 4px 6px;
    font-size:20px!important;
}
.fancybox-image{
	box-shadow: 0 1px 26px #000;
    border: 1px solid #222;
}
.fancybox-next{
font-size: 30px!important;
position: absolute;
top: 50%;
left: 100.9%;
}
.fancybox-prev{
font-size: 30px!important;
position: absolute;
top: 50%;
right:100.5%;
}
#fancybox-overlay.overlay-fixed {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    min-height: 250%;
    display: block;
    background-color: rgba(0, 0, 0,.6);
}
.fancybox-wrap.fancybox-desktop.fancybox-type-image.fancybox-custom.fancybox-opened{
z-index:9999!important;
text-align: center;
}
input.SInput{
    width:100%;
}
body.Dashboard.Plugin.gallery #Content h2.Finished {
    font-size: 30px;
    font-weight: bold!important;
    margin-bottom: 10px;
    text-align: center;
    padding: 4px;
    color: green;
}
body.Dashboard.Plugin.gallery #Content h1.Warning {
    color:#fff!important;
}